<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275754925527-bm3d1di90qvct31m1ltbvc5nnash0bjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275754925527-bm3d1di90qvct31m1ltbvc5nnash0bjg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275754925527-b6b5bume1ljmn2e723mvifp26cf73hoh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeVxMOCJA25C30pRKEatHq-2HcaIRWgCw</string>
	<key>GCM_SENDER_ID</key>
	<string>275754925527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodlysolutions.app</string>
	<key>PROJECT_ID</key>
	<string>foodly-solutions</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-solutions.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275754925527:ios:bbbd9b4c6e8854e7a71f92</string>
</dict>
</plist>